body
{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

#right-panel 
{
    background-color: lightgray;
    padding: 1rem 2rem;
}

#liked-songs-page
{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

#liked-songs-page header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid green;
}

#liked-songs-page header h1 
{
    font-size: 3rem;
}

.library-controls
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid red;
}

.library-grid
{
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    gap: 2.5rem;
    border: 1px solid blue;
}

.library-libraryItem
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.library-libraryItem .library-libraryItem-cover
{
    width: 100%;
}

.library-libraryItem-label p
{
    margin: 0;
}

.library-libraryItem .library-libraryItem-label .library-libraryItem-title
{
    font-size: 2rem;
}

.library-libraryItem .library-libraryItem-label .library-libraryItem-artist
{
    font-size: 1.5rem;
}